<div class="profile-container">
  <app-nav-bar></app-nav-bar>
  <!--  To do: limit visibility of coachee nav bar to coachees-->
  <app-coachee-nav-bar *ngIf="loggedIn$ | async;"></app-coachee-nav-bar>
<!--  <nav class=" navbar navbar-light bg-light navbar-expand-lg
  ">-->
  <!--    <ul class="navbar-nav mr-a*ngIf="loggedIn$ | async-->
  <!--      <li class="nav-item">-->
  <!--        <a class="nav-link" routerLink="/login">Login</a>-->
  <!--      </li>-->
  <!--      <li class="nav-item">-->
  <!--        <a class="nav-link" routerLink="/hello-world">Hello world</a>-->
  <!--      </li>-->
  <!--    </ul>-->
  <!--    <div class="mr-2">-->
  <!--      <div class="nav-item" *ngIf="username" translate [translateParams]="{username: username}">navbar.loggedin</div>-->
  <!--      <div class="nav-item" *ngIf="!username" translate>navbar.loggedout</div>-->
  <!--    </div>-->
  <!--    <div class="btn-group mr-2">-->
  <!--      <button [class.active]="currentLanguage() === 'en'" class="btn btn-primary nav-item" (click)="switchLanguage('en')">en</button>-->
  <!--      <button [class.active]="currentLanguage() === 'nl '" class="btn btn-primary nav-item" (click)="switchLanguage('nl')">nl</button>-->
  <!--    </div>-->
  <!--  </nav>-->
  <router-outlet></router-outlet>
  <!--  <app-footer></app-footer>-->
</div>
