.link-container {
  margin-right: 30px;
}

.mat-button-toggle-checked {
  background-color: #ffc107;
}

.mat-button-toggle-label-content {
  text-align: left !important;
}

.full-screen-input {
  width: 100%;
}









