<div class="link-container">
  <p translate>my-profile-menu.title</p>
  <mat-button-toggle-group vertical>
    <mat-button-toggle (click)="goToMyProfile()" checked="true"><span translate>my-profile-menu.link.profile-information</span></mat-button-toggle>
    <mat-button-toggle><span translate>my-profile-menu.link.coaching-sessions</span></mat-button-toggle>
    <mat-button-toggle (click)="goToApplyBecomeCoach()"><span translate>my-profile-menu.link.apply-to-become-a-coach</span></mat-button-toggle>
  </mat-button-toggle-group>
</div>
