.page-card{
  background-color: whitesmoke;
  margin: 15px;
}

.filter-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 0 20px 5px;
}

.filter-container mat-form-field{
  margin: 0 10px 0 0;
}

.coach-card{
  margin: 0 5px 10px 5px;
}

.mat-card-header{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 10px 0;
}

.spacer{
  flex: 1 1 auto;
}

::ng-deep .mat-card-header-text {
  margin: 0 !important;
}

.mat-card-title{
  margin: 0 !important;
}

.disabled-button{
  background-color: #029486 !important;
  color: white !important;
}

.search-by-name-filter{
  flex: 1 0 auto;
}

@media only screen and (min-width: 451px){
  .coach-card{
    width: 250px;
  }

  .coaches-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
}
