<div class="container">
  <div class="link-container">
    <p translate>my-profile-menu.title</p>
    <mat-button-toggle-group vertical>
      <mat-button-toggle (click)="goToMyProfile()"><span translate>my-profile-menu.link.profile-information</span>
      </mat-button-toggle>
      <mat-button-toggle><span translate>my-profile-menu.link.coaching-sessions</span></mat-button-toggle>
      <mat-button-toggle (click)="goToApplyBecomeCoach()" checked="true"><span
        translate>my-profile-menu.link.apply-to-become-a-coach</span></mat-button-toggle>
    </mat-button-toggle-group>
  </div>
  <div class="profile-container">
    <mat-card>
      <div class="card-header">
        <h2 translate>become-a-coach.title</h2>
      </div>
      <div class="card-body">
        <img src="../../assets/images/under_construction.png"
             alt="Under construction"
             class="profile-img">
        <div class="becomeCoachText" translate>become-a-coach.text.under-construction</div>
      </div>
      <button mat-raised-button color="primary" class="sendMailButton" (click)="mail('become-a-coach.email-service')">
        <span translate>become-a-coach.button.send-email  </span>
        <mat-icon>send</mat-icon>
      </button>
    </mat-card>
  </div>
</div>
