<div class="container">
  <app-coachee-left-nav-bar></app-coachee-left-nav-bar>
  <div class="profile-container">
    <mat-card>
      <div class="card-header">
        <h2 translate>become-a-coach.title</h2>
      </div>
      <div class="card-body">
        <img src="../../assets/images/under_construction.png"
             alt="Under construction"
             class="profile-img">
        <div class="becomeCoachText" translate>become-a-coach.text.under-construction</div>
      </div>
      <button mat-raised-button color="primary" class="sendMailButton" (click)="mail()">
        <span translate>become-a-coach.button.send-email</span>
        <mat-icon>send</mat-icon>
      </button>
    </mat-card>
  </div>
</div>
