<div class="container">
  <div class="profile-container" *ngIf="user">
    <mat-card class="card">
      <mat-card-title class="card-header">
        <h2 translate>profile-information.title</h2>
      </mat-card-title>
      <mat-card-content class="card-body">
        <img [src]=user.pictureUrl class="profile-img" alt="profile picture">
        <form class="profileItems" [formGroup]="userForm">
          <mat-form-field class="full-screen-input">
            <mat-label translate>coach-profile-information.label.first-name</mat-label>
            <label for="firstName">
              <input id="firstName" matInput type="text" formControlName="firstName" [readonly]="!profileInfoIsEditable">
            </label>
          </mat-form-field>
          <mat-form-field>
            <mat-label translate>coach-profile-information.label.last-name</mat-label>
            <label for="lastName">
              <input id="lastName" matInput type="text" formControlName="lastName" [readonly]="!profileInfoIsEditable">
            </label>
          </mat-form-field>
          <mat-form-field>
            <mat-label translate>coach-profile-information.label.email</mat-label>
            <label for="username">
              <input id="username" matInput type="email" formControlName="username" [readonly]="!profileInfoIsEditable">
            </label>
          </mat-form-field>
          <mat-form-field>
            <mat-label translate>profile-information.label.role</mat-label>
            <label for="role">
              <input id="role" matInput type="email" formControlName="role" [readonly]="!profileInfoIsEditable">
            </label>
          </mat-form-field>
        </form>
      </mat-card-content>
    </mat-card>

    <mat-card class="card">
      <mat-card-title class="card-header">
        <h2 translate>coach-information.title</h2>
        <button *ngIf="isAdmin" mat-mini-fab color="accent" id="edit-button" (click)="editCoachInformation()">
          <mat-icon>create</mat-icon>
        </button>
      </mat-card-title>
      <mat-card-content>
        <form class="profileItems" [formGroup]="userForm">
          <mat-form-field class="example-full-width">
            <mat-label translate>coach-information.label.introduction</mat-label>
            <textarea matInput formControlName="introduction" [readonly]="!profileInfoIsEditable"></textarea>
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <mat-label translate>coach-information.label.availability</mat-label>
            <textarea matInput id="availability" formControlName="availability" [readonly]="!profileInfoIsEditable"></textarea>
          </mat-form-field>
        </form>
      </mat-card-content>
      <div class="button-container">
        <button *ngIf="isAdmin" mat-raised-button color="primary" id="save-button" (click)="saveCoachInformation()"><span translate>profile-information.button.save</span>
          <mat-icon>save</mat-icon>
        </button>
        <button *ngIf="isAdmin" mat-raised-button color="accent" id="cancel-button" (click)="cancelCoachInformation()"><span translate>profile-information.button.cancel</span>
          <mat-icon>cancel</mat-icon>
        </button>
      </div>
    </mat-card>

    <mat-card class="card">
      <mat-card-title class="card-header">
        <h2 translate>coaching-topics.title</h2>
        <button *ngIf="isAdmin" mat-mini-fab color="secondary" (click)="editTopics()">
          <mat-icon>create</mat-icon>
        </button>
      </mat-card-title>
      <mat-card-content>
        <table>
          <tr *ngFor="let topic of user.topics">
            <td>{{topic.name}}</td>
            <td>
              <button mat-mini-fab disabled color="accent" class="disabled-button"
                      *ngFor="let grade of topic.grade" style="margin-left: 5px">{{grade.year}}
              </button>
            </td>
            <mat-divider></mat-divider>
          </tr>
        </table>
      </mat-card-content>
    </mat-card>
  </div>
</div>
