#profileInfo {
  width: 80%;
  margin: auto;
  background: #fafafa;
  overflow: hidden;
  padding: 15px;
}

.profileHeader {
  display: flex;
  justify-content: space-between;
}

.profileItems {

}

.profileInfoItem {
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
  padding-top: 20px;
}

.itemName{
  font-weight: bold;
}

/*.profileImage {*/
/*  display: inline-block;*/
/*}*/






