
<div id="profileInfo" *ngIf="user">
  <div class="profileHeader">
    <h1>Profile Information</h1>
    <img src="assets/editProfileButton.png">
  </div>
  <mat-divider></mat-divider>
  <div>
    <span>First name </span>
    <span>{{user.firstName}}</span>
  </div>
  <mat-divider></mat-divider>
  <div>
    <span>Last name </span>
    <span>{{user.lastName}}</span>
  </div>
  <mat-divider></mat-divider>
  <div>
    <span>Email</span>
    <span>{{user.username}}</span>
  </div>
  <mat-divider></mat-divider>
</div>

