.container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 10px 10px;
}

.profile-container {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.profile-img {
  width: 15%;
  height: 15%;
}

.profileItems {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.card-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3em;
  padding: 1em 0;
  border-bottom: 1px solid black;
}

.card-body {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.button-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.button-container button{
  margin: 10px 10px;
  flex-shrink: 0;
  text-transform: uppercase;
  color: black;
  visibility: hidden;
}

.button-container button mat-icon{
  margin: 0 0 0 5px
}

.mat-button-toggle-checked {
  background-color: #ffc107;
}

.mat-button-toggle-label-content {
  text-align: left !important;
}

.full-screen-input {
  width: 100%;
}

.link-container {
  margin-right: 30px;
}

.error-container{
  margin-top: 20px;
  color: red;
}

@media only screen and (max-width: 450px) {
  .container{
    flex-direction: column;
  }

  .profile-container{
    margin: 10px 0 0 0;
  }

  .mat-card-title{
    margin: 0 0 10px 0;
  }

  .profile-img {
    margin: 10px 0 20px 0;
  }

  .card-body{
    flex-direction: column;
  }
}









