<div id="profileInfo" *ngIf="user">
  <div class="profileHeader">
    <h1>Profile Information</h1>
    <img src="assets/editProfileButton.png">
  </div>
  <mat-divider></mat-divider>


  <div class="profileItems">
    <div class="profileImage">
      <img [src]= user.pictureUrl height="200">
    </div>
    <div class="profileInfoItem">
      <span class="itemName" translate>profile-information.label.first-name</span>
      <span class="itemContent">{{user.firstName}}</span>
      <span></span>
    </div>
    <mat-divider></mat-divider>
    <div class="profileInfoItem">
      <span class="itemName" translate>profile-information.label.last-name</span>
      <span class="itemContent">{{user.lastName}}</span>
      <span></span>
    </div>
    <mat-divider></mat-divider>
    <div class="profileInfoItem">
      <span class="itemName" translate>profile-information.label.email</span>
      <span class="itemContent">{{user.username}}</span>
      <span></span>
    </div>
    <mat-divider></mat-divider>
  </div>
</div>
