<div class="container">

  <div class="link-container">
    <p translate>my-coach-profile-menu.title</p>
    <mat-button-toggle-group vertical>
      <mat-button-toggle checked="true"><span translate>my-coach-profile-menu.link.profile-information</span></mat-button-toggle>
      <mat-button-toggle><span translate>my-coach-profile-menu.link.coaching-sessions</span></mat-button-toggle>
      <mat-button-toggle (click)="goToRequestProfileChange()"><span translate>my-coach-profile-menu.link.request-profile-change</span></mat-button-toggle>
    </mat-button-toggle-group>
  </div>
  <div class="profile-container" *ngIf="user">

    <mat-card class="card">
      <mat-card-title class="card-header">
        <h2 translate>profile-information.title</h2>
      </mat-card-title>
      <mat-card-content class="card-body">
        <img [src]=user.pictureUrl class="profile-img" alt="profile picture">
        <form class="profileItems" [formGroup]="userForm">
          <mat-form-field class="full-screen-input">
            <mat-label translate>coach-profile-information.label.first-name</mat-label>
            <label for="firstName">
              <input id="firstName" matInput type="text" formControlName="firstName">
            </label>
          </mat-form-field>
          <mat-form-field>
            <mat-label translate>coach-profile-information.label.last-name</mat-label>
            <label for="lastName">
              <input id="lastName" matInput type="text" formControlName="lastName">
            </label>
          </mat-form-field>
          <mat-form-field>
            <mat-label translate>coach-profile-information.label.email</mat-label>
            <label for="username">
              <input id="username" matInput type="email" formControlName="username">
            </label>
          </mat-form-field>
          <mat-form-field>
            <mat-label translate>profile-information.label.role</mat-label>
            <label for="role">
              <input id="role" matInput type="email" formControlName="role">
            </label>
          </mat-form-field>
        </form>
      </mat-card-content>
    </mat-card>

    <mat-card class="card">
      <mat-card-title class="card-header">
        <h2 translate>coach-information.title</h2>
        <button mat-mini-fab color="accent" id="edit-button" (click)="editCoachInformation()">
          <mat-icon>create</mat-icon>
        </button>
      </mat-card-title>
      <mat-card-content>
        <form class="profileItems" [formGroup]="userForm">
          <mat-form-field>
            <mat-label translate>coach-information.label.introduction</mat-label>
            <label for="introduction">
              <textarea id="introduction" matInput type="text" formControlName="introduction"></textarea>
            </label>
          </mat-form-field>
          <mat-form-field>
            <mat-label translate>coach-information.label.availability</mat-label>
            <label for="availability">
              <textarea id="availability" matInput type="text" formControlName="availability"></textarea>
            </label>
          </mat-form-field>
        </form>
      </mat-card-content>
      <div class="button-container">
        <button mat-raised-button color="primary" id="save-button" (click)="saveCoachInformation()"><span translate>profile-information.button.save</span>
          <mat-icon>save</mat-icon>
        </button>
        <button mat-raised-button color="accent" id="cancel-button" (click)="cancelCoachInformation()"><span translate>profile-information.button.cancel</span>
          <mat-icon>cancel</mat-icon>
        </button>
      </div>
    </mat-card>

    <mat-card class="card">
      <mat-card-title class="card-header">
        <h2 translate>coaching-topics.title</h2>
          <button *ngIf="isAdmin" mat-mini-fab color="accent" id="topics-edit-button" (click)="editTopics()">
            <mat-icon>create</mat-icon>
          </button>
      </mat-card-title>
      <mat-card-content *ngIf="topicEditMode == false">
        <table style="width:100%">
          <tr *ngFor="let topic of user.topics">
            <td>{{topic.name}}</td>
            <td>
              <button mat-mini-fab disabled color="accent" class="disabled-button"
                      *ngFor="let grade of topic.grade" style="margin-left: 5px">{{grade.year}}
              </button>
            </td>
            <mat-divider></mat-divider>
          </tr>
        </table>
      </mat-card-content>
      <mat-card-content *ngIf="topicEditMode == true">
        <form class="profileItems" [formGroup]="topicsForm">
          <div>
          <mat-form-field>
            <mat-label translate>coach-information.label.topic1</mat-label>
            <label for="topic1">
              <textarea id="topic1" matInput type="text" formControlName="topic1"></textarea>
            </label>
          </mat-form-field>
            <mat-form-field>
              <mat-label>Grades</mat-label>
              <mat-select [formControl]="gradesSelect" multiple>
                <mat-option *ngFor="let grade of gradesList" [value]="grade">{{grade}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div>
          <mat-form-field>
            <mat-label translate>coach-information.label.topic2</mat-label>
            <label for="topic2">
              <textarea id="topic2" matInput type="text" formControlName="topic2"></textarea>
            </label>
          </mat-form-field></div>
        </form>
      </mat-card-content>
      <div class="button-container">
        <button mat-raised-button color="primary" id="topics-save-button" (click)="saveCoachTopics()"><span translate>profile-information.button.save</span>
          <mat-icon>save</mat-icon>
        </button>
        <button mat-raised-button color="accent" id="topics-cancel-button" (click)="cancelCoachTopics()"><span translate>profile-information.button.cancel</span>
          <mat-icon>cancel</mat-icon>
        </button>
      </div>
    </mat-card>
  </div>
</div>
