.container{
  margin: 10px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}


h1{
  color: #009688;
}

.mat-card{
  width: 60%;
}


.mat-icon {
  padding: 0 14px;
}


.mat-raised-button{
  text-transform: uppercase;
  color: black;
}

.full-screen-input{
  width: 100%;
}


.mat-form-field{
  margin-bottom: 10px;
}


.button-container{
  display: flex;
  justify-content: flex-end;
}

.sign-in-button{
  margin-right: 10px;
}

.error-container{
  margin-top: 20px;
  color: red;
}
