<div id="profileInfo" *ngIf="user">
  <mat-card>
    <div class="card-header">
      <h2 translate>profile-information.title</h2>
      <button mat-mini-fab color="primary" class="edit-button">
        <mat-icon>create</mat-icon>
      </button>
    </div>
    <div class="card-body">
      <img [src]=user.pictureUrl class="profile-img">
      <div class="profileItems">
        <mat-form-field>
          <mat-label translate>profile-information.label.first-name</mat-label>
          <label for="firstName">
            <input id="firstName" matInput type="text" readonly value="{{user.firstName}}">
          </label>
        </mat-form-field>
        <mat-form-field>
          <mat-label translate>profile-information.label.last-name</mat-label>
          <label for="lastName">
            <input id="lastName" matInput type="text" readonly value="{{user.lastName}}">
          </label>
        </mat-form-field>
        <mat-form-field>
          <mat-label translate>profile-information.label.email</mat-label>
          <label for="email">
            <input id="email" matInput type="email" readonly value="{{user.username}}">
          </label>
        </mat-form-field>
      </div>
    </div>
  </mat-card>
</div>
