<mat-toolbar color="primary" class="navigation">
  <mat-toolbar-row>
    <span><a routerLink="">You-Coach</a></span>
    <span class="spacer"></span>
    <span><a routerLink="" translate>menu.link.home</a></span>
    <span translate>menu.link.about-us</span>
    <span translate>menu.link.contact</span>
    <button mat-raised-button class="sign-out-button" *ngIf="userId" (click)="signOut()"><span translate>sign out</span>
      <mat-icon>person</mat-icon>
    </button>
    <button mat-raised-button color="primary" *ngIf="!userId" (click)="goToSignIn()"><span
      translate>menu.button.sign-in</span>
      <mat-icon>person</mat-icon>
    </button>
    <button mat-raised-button color="accent" *ngIf="!userId" (click)="goToRegister()"><span translate>menu.button.register</span>
      <mat-icon>person_add</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>


<!--MOBILE NAVBAR-->
<div class="mobile-nav">
  <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
    <mat-icon>menu</mat-icon>
  </button>
  <span><a routerLink="">You-Coach</a></span>
</div>
<mat-menu #menu="matMenu">
  <button mat-menu-item routerLink="">
    <mat-icon>home</mat-icon>
    <span translate>menu.link.home</span>
  </button>
  <button mat-menu-item routerLink="">
    <mat-icon>emoji_people</mat-icon>
    <span translate>menu.link.about-us</span>
  </button>
  <button mat-menu-item routerLink="">
    <mat-icon>contact_support</mat-icon>
    <span translate>menu.link.contact</span>
  </button>
  <button mat-menu-item *ngIf="userId" (click)="signOut()">
    <mat-icon>person</mat-icon>
    <span translate>sign out</span>
  </button>
  <button mat-menu-item *ngIf="!userId" (click)="goToSignIn()">
    <mat-icon>person</mat-icon>
    <span translate>menu.button.sign-in</span>
  </button>
  <button mat-menu-item *ngIf="!userId" (click)="goToRegister()">
    <mat-icon>person_add</mat-icon>
    <span translate>menu.button.register</span>
  </button>
</mat-menu>
