.mat-toolbar{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: white;
}

.mat-toolbar-row span{
  margin: 0 10px;
}

.mat-raised-button{
  color: black;
  margin: 0 10px;
  text-transform: uppercase;
  flex-shrink: 0;
}

.mat-icon {
  padding: 0 14px;
}

.spacer {
  flex: 1 1 auto;
}

a{
  text-decoration: none;
  color: black;
}

.sign-out-button{
  background-color: lightgray;
}


/*RESPONSIVE DESIGN*/
@media only screen and (min-width: 451px) {
  .mobile-nav{
    display: none !important;
  }
}

@media only screen and (max-width: 450px) {
  .mat-toolbar{
    display: none !important;
  }

  .mobile-nav{
    background-color: #ffc107;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
  }

  .mobile-nav span {
    margin: 0 30% 0 30%;
  }
}


