<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span><a routerLink="">You-Coach</a></span>
    <span class="spacer"></span>
    <span><a routerLink="" translate>menu.link.home</a></span>
    <span translate>menu.link.about-us</span>
    <span translate>menu.link.contact</span>
    <button mat-raised-button class="sign-out-button" *ngIf="userId" (click)="signOut()"><span translate>sign out</span>
      <mat-icon>person</mat-icon>
    </button>
    <button mat-raised-button color="primary" *ngIf="!userId" (click)="goToSignIn()"><span translate>menu.button.sign-in</span>
      <mat-icon>person</mat-icon>
    </button>
    <button mat-raised-button color="accent" *ngIf="!userId" (click)="goToRegister()"><span translate>menu.button.register</span>
      <mat-icon>person_add</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>


